In [1]:
import logging
from nba_betting.logging.tools import logger
logger.setLevel(logging.INFO)

In [2]:
from nba_betting.model.training import preprocess_games
from nba_betting.model.classes import NBA_MODELS

TRAIN_YEAR = 2018
TEST_YEAR = 2019

models = [model() for model in NBA_MODELS.values()]
X, y = preprocess_games(TRAIN_YEAR)
X_test, y_test = preprocess_games(TEST_YEAR)

INFO:nba_betting:Processing data for year 2018
INFO:nba_betting:Retrieved data for year 2018.
Columns: Index(['level_0', 'index', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'GAMES_PLAYED', 'OPP_PTS', 'OPP_FGM',
       'OPP_FGA', 'OPP_FG_PCT', 'OPP_FG3M', 'OPP_FG3A', 'OPP_FG3_PCT',
       'OPP_FTM', 'OPP_FTA', 'OPP_FT_PCT', 'OPP_OREB', 'OPP_DREB', 'OPP_REB',
       'OPP_AST', 'OPP_STL', 'OPP_BLK', 'OPP_TOV', 'OPP_PF', 'OPP_PLUS_MINUS',
       'OPP_GAMES_PLAYED'],
      dtype='object')
Target: 0    L
1    L
2    W
3    W
4    L
Name: WL, dtype: object
INFO:nba_betting:Processing data for year 2019
INFO:nba_betting:Retrieved data for year 2019.
Columns: Index(['level_0', 'index', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'GAMES_PLAYED', 'OPP_PTS', 'OPP_FGM',
       'OPP_FGA', 'OPP_FG_PCT', 'OPP_FG3M', 'OPP_FG3A', 'OPP_FG3_PCT',
       'OPP_FTM', 'OPP_FTA', 'OPP_FT_PCT', 'OPP_OREB', 'OPP_DREB', 'OPP_REB',
       'OPP_AST', 'OPP_STL', 'OPP_BLK', 'OPP_TOV', 'OPP_PF', 'OPP_PLUS_MINUS',
       'OPP_GAMES_PLAYED'],
      dtype='object')
Target: 0    W
1    W
2    L
3    L
4    L
Name: WL, dtype: object

In [3]:
X

,level_0,index,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,OPP_OREB,OPP_DREB,OPP_REB,OPP_AST,OPP_STL,OPP_BLK,OPP_TOV,OPP_PF,OPP_PLUS_MINUS,OPP_GAMES_PLAYED
0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,1,1,107.000000,41.000000,90.000000,0.456000,10.000000,36.000000,0.278000,15.000000,...,7.000000,21.000000,28.000000,16.000000,11.000000,3.000000,7.000000,18.000000,-28.000000,1
2,2,2,112.000000,41.000000,86.500000,0.475000,12.000000,33.000000,0.372500,18.000000,...,13.500000,32.500000,46.000000,21.500000,4.500000,1.000000,15.000000,24.500000,-10.000000,2
3,3,3,119.000000,43.333333,90.333333,0.480000,15.333333,37.666667,0.404333,17.000000,...,12.666667,27.666667,40.333333,27.333333,7.666667,5.000000,13.333333,20.000000,-3.666667,3
4,4,4,117.000000,41.750000,90.500000,0.461750,15.250000,37.750000,0.402000,18.250000,...,6.800000,31.800000,38.600000,22.800000,4.600000,5.000000,13.800000,22.400000,-10.800000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,2433,76,110.644737,40.197368,90.052632,0.446947,11.907895,33.894737,0.352382,18.342105,...,10.065789,36.289474,46.355263,25.828947,8.171053,5.855263,14.657895,21.039474,5.076316,76
2434,2434,77,110.532468,40.142857,90.051948,0.446338,11.844156,33.844156,0.350831,18.402597,...,11.102564,36.076923,47.179487,27.000000,7.512821,5.397436,14.474359,21.192308,-1.153846,78
2435,2435,78,110.589744,40.115385,90.051282,0.446026,11.846154,33.846154,0.350859,18.512821,...,9.746835,35.341772,45.088608,25.417722,8.367089,5.341772,13.291139,21.177215,5.987342,79
2436,2436,79,110.620253,40.164557,90.101266,0.446304,11.860759,33.911392,0.350633,18.430380,...,11.303797,33.468354,44.772152,22.582278,6.936709,4.025316,13.050633,22.139241,-0.445570,79
2437,2437,80,110.537500,40.137500,90.075000,0.446125,11.837500,33.875000,0.350288,18.425000,...,10.679012,32.000000,42.679012,20.666667,6.555556,2.382716,12.617284,20.049383,-9.338272,81